<div class="order-details">
    <div class="order-content">
        <div class="order-head">
            <div class="order-title">
                <h1>Order Form</h1>
            </div>
        </div>
        <form class="form-order">
            <div class="personal-information section">
                <label>
                    <h3 class="section-name">Personal Information</h3>
                </label>
                <div class="flex">
                    <div class="form-group disabled">
                        <input type="text" class="field" placeholder="First Name*" [value]="first_name"
                            autocomplete="off" disabled>
                    </div>
                    <div class="form-group disabled">
                        <input type="text" class="field" placeholder="Last Name*" [value]="last_name" autocomplete="off"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="shipping-details section">
                <label>
                    <h3 class="section-name">Shipping Details</h3>
                </label>
                <div class="small">Double-click to fill your default information</div>
                <div class="flex">
                    <div [ngClass]="{'select': true, 'wide':true, 'danger': !isCityValid}">
                        <div class="input-wrapper">
                            <input type="text" class="field" placeholder="City*" [value]="inputCity"
                                (dblclick)="doubleClickCity()" (keyup)="setSearchCityName($event.target.value)">
                        </div>
                        <ul *ngIf="israelCities">
                            <li *ngFor="let cityName of searchCitiesArray"
                                (click)="changeCity($event.target.innerText)">{{cityName}}</li>
                        </ul>
                    </div>
                </div>
                <div class="flex">
                    <div [ngClass]="{'form-group wide': true, 'danger': !isStreetValid}">
                        <input type="text" class="field" placeholder="Street*" autocomplete="off"
                            (dblclick)="doubleClickStreet()" [value]="inputStreet"
                            (keyup)="setStreet($event.target.value)">
                    </div>
                </div>
                <div class="flex">
                    <div [ngClass]="{'form-group wide': true, 'danger': !isShippingDateValid}">
                        <input class="field date" placeholder="Shipping Date*" matInput [matDatepicker]="picker"
                            [min]="currentDate" [matDatepickerFilter]="myFilter"
                            (dateChange)="setShippingDate($event.target.value)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="payment-method section">
                <label>
                    <h3 class="section-name">Payment Method</h3>
                </label>
                <div class="flex">
                    <input type="radio" id="visa" name="payment" value="Visa"
                        (click)="setPaymentMethod($event.target.value)">
                    <label class="radio-label" for="visa">Visa</label><br>
                    <input type="radio" id="paypal" name="payment" value="Paypal"
                        (click)="setPaymentMethod($event.target.value)">
                    <label class="radio-label" for="paypal">Paypal</label><br>
                </div>
            </div>
            <app-popup *ngIf="errorMessage" [errorMessage]="errorMessage" [isSuccess]="false"
                (popupEvent)="receivePopupEvent($event)"></app-popup>
            <div class="btn">
                <button type="button" class="btn-order-complete" (click)="confirmOrder()">
                    <span>Confirm Order</span>
                </button>
            </div>
        </form>
    </div>
</div>