.order-details{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-content{
    background-color: rgba(240, 243, 249,0.6);
    padding: 15px;
    border-radius: 10px;
}

.order-head{
    margin-bottom: 20px;
}

.order-title h1{
    margin: 0;
    color: #0d47a1;
    font-weight: 600;
    font-family: mainFont;
    font-size: 2rem;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h3{
    margin-bottom: 5px;
}

.section-name{
    font-family: mainFont !important;
    font-size: large !important;
    font-weight: 900 !important;
    color: #333;
}

.section{
    margin-bottom: 10px;
}

.form-group{
    width: 18rem;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 5px 10px;
    margin: 5px 8px 15px 0px;
    color: #333;
    background-color: white;
    font-size: large;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
    border-radius: 4px;
}

.wide{
    width: 38rem;
}

.field{
    width: 100%;
    margin-left: 5px;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: #333;
    font-family: mainFont;
}

.field:focus{
    border-bottom: 2.5px solid #42a5f5;
}

::placeholder {
    color: #333;
    font-weight: 600;
    font-size: large;
    opacity: 0.7; /* Firefox */
}

.btn{
    margin-top: 10px;
}

.btn-order-complete{
    display: inline-block;
    outline: none;
    border: none;
    background-color: #0d47a1;
    color: white;
    font-family: mainFont;
    font-size: large;
    border-radius: 4px;
    padding: 5px 30px;
    cursor: pointer;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
    transition: all 0.5s;
    width: 30%;
    font-weight: 600;
}

.btn-order-complete span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-order-complete span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
    font-size: large;
    font-family: mainFont;
}

.btn-order-complete:hover span {
    padding-right: 20px;
}

.btn-order-complete:hover span:after {
    opacity: 1;
    right: 0;
}

.select{
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    margin: 5px 8px 15px 0px;
    color: #333;
    background-color: white;
    font-size: large;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.35);
    border-radius: 4px;
    z-index: 2;
}

.select:hover ul{
    display: block;
}

.select input{
    margin:10px;
    background-color: transparent;
    width:100%;
}

.input-wrapper{
    width:96%;
}

.list{
    width: 100%;
    display: block;
    height: 45px;
    outline: none;
    z-index: 6;
}

ul{
    display: none;
    max-height: 130px;
    overflow-y: auto;
    margin-top: 0px;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: left;
    background-color: whitesmoke;
}

li{
    padding: 10px;
    background-color: white;
    color: #333;
    font-family: mainFont;
    font-weight: 600;
    border-bottom: 1.8px solid #dde3ee;
}

li:hover
{
    background-color: rgba(66, 165, 245, 0.2);
    cursor: pointer;
}

.small{
    font-size: small;
    font-weight: 600;
    color: #0d47a1;
}

.disabled{
    opacity: 0.7;
}

.lb{
    color: #333;
    font-weight: 600;
    font-size: large;
    opacity: 0.7;
    width: 30%;
}

.date::placeholder{
    color: #333;
    font-weight: 600;
    opacity: 0.7;
}

.danger{
    box-shadow: 0 0px 6px #ff4d4d;
}

.full{
    background-color: #ff4d4d;
    border-radius: 100%;
}

.radio-label{
    font-size: large;
    font-family: mainFont;
    font-weight: 600;
    margin-right: 10px;
}

#visa:hover{
    cursor: pointer;
}

#paypal:hover{
    cursor: pointer;
}


@font-face {
    font-family: mainFont;
    src: url(../../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}

/*For Laptops*/
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .flex{
        max-width: 25rem;
    }

    .input-wrapper{
        width:95%;
    }

    .btn-order-complete{
        width: 100%;
    }
}

/*For iPads and Tablets*/
@media only screen and (min-width:768px) and (max-width:1023px) {
    .flex{
        max-width: 20rem;
    }

    .input-wrapper{
        width:93%;
    }

    .btn-order-complete{
        width: 100%;
    }
}

/*For Mobile-L*/
@media only screen and (min-width:425px) and (max-width:767px) {
    .flex{
        max-width: 22rem;
    }

    .input-wrapper{
        width:93%;
    }

    .btn-order-complete{
        width: 100%;
    }

    .order-details{
        height: 93vh;
    }
}
