<div class="register">
    <form>
        <div class="register-title">
            <h1>
                Register
            </h1>
        </div>
        <app-stepper (createAccountEvent)="receiveCreateAccountEvent($event)"></app-stepper>
        <div class="new-user">
            <span>
                Have already an account?
            </span>
            <span class="create-user" (click)="login()">Login Here</span>
        </div>
    </form>
    <app-popup *ngIf="isOpenPopup" (popupEvent)="receivePopupEvent($event)" [isSuccess]="isSuccess" [successMessage]="successMessage" [errorMessage]="errorMessage"></app-popup>
    <div class="img-register">
    </div>
</div>

