@font-face {
    font-family: mainFont;
    src: url(../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}

:host {
    font-family: mainFont;
    font-size: medium;
    color: #333;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
