<div class="login">
    <form  *ngIf="!isLogged">
        <div class="login-title">
            <h1 class="h-login">
                Login
            </h1>
        </div>
        <div [ngClass]="{'form-group': true, 'danger': !isEmailValid}">
            <i class="fa fa-envelope"></i>
            <input type="email"  class="email input" id="email" required placeholder="Email" [value]="email" autocomplete="off" (keyup)="setEmail($event.target.value)">
        </div>
        <div [ngClass]="{'form-group': true, 'danger': !isPasswordValid}">
            <i class="fa fa-lock fa-lg"></i>
            <input type="password" class="password input" placeholder="Password" [value]="password" autocomplete="off" (keyup)="setPassword($event.target.value)">
        </div>
        <button type="button" class="btn-login" (click)="login()">
            <span>Enter Store</span>
        </button>
        <div class="new-user">
            <span class="mr-2">
                New user?
            </span>
            <span class="create-user" (click)="register()">Create an account</span>
        </div>
        <app-popup *ngIf="errorMessage" [errorMessage]="errorMessage" [isSuccess]="false" (popupEvent)="receivePopupEvent($event)"></app-popup>
    </form>
    <div>
        <div *ngIf="isLogged && isNewCart" class="start">
            <button  type="button" class="btn-start-shopping" (click)="goToStore()">
                <h1>
                    <span>Start Shopping</span>
                    <i class="fa fa-shopping-cart fa-lg"></i>
                </h1>
            </button>
            <div *ngIf="!welcomeMessage" class="cart-message">
                <h2>Your Last Order Details</h2>
                <div class="cart-data">
                    Order Created: {{ orderCreated }}
                </div>
                <div class="cart-data">
                    Total Price: {{ orderPrice.toFixed(2) }}$
                </div>
                <div class="cart-data">
                    Shipping Date: {{ shippingDate }}
                </div>
            </div>
            <div *ngIf="welcomeMessage" class="cart-message welcome">
                <h2>Welcome to FreshStock!</h2>
                <div class="cart-data">
                    Start your first experience
                </div>
            </div>
        </div>
        <div *ngIf="isLogged && !isNewCart" class="continue">
            <button type="button" class="btn-start-shopping" (click)="goToStore()">
                <h1>
                    <span>Continue Shopping</span>
                    <i class="fa fa-shopping-cart fa-lg"></i>
                </h1>
            </button>
            <div class="cart-message">
                <h2>You have an open cart!</h2>
                <div class="cart-data">
                    Cart Created: {{ cartCreationDate }}
                </div>
                <div class="cart-data">
                    Total Price: {{ cartTotalPrice.toFixed(2) }}$
                </div>
            </div>
        </div>
    </div>
    <div class="img-login">
    </div>
</div>

