.li-category{
    font-size: large;
    font-weight: 600;
    color: #5e5e5e;
    font-family: mainFont;
    border: none;
    background-color: transparent;
    text-align: center;
}

.li-category:hover{
    cursor: pointer;
    color: #42a5f5;
    border-bottom: 2px solid #42a5f5;
}

.li-category-active{
    color: #42a5f5;
    border-bottom: 2px solid #42a5f5;
}

.categories{
    display: flex;
    justify-content: center;
}

.ul-categories{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-inline-start:0px;
    background-color: transparent;
}

@font-face {
    font-family: mainFont;
    src: url(../../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}

/*For Laptops*/
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .ul-categories{
        flex-direction: row;
        width: 70%;
    }

    .li-category {
        text-align: center;
    }
}

/*For iPads and Tablets*/
@media only screen and (min-width:768px) and (max-width:1023px) {
    .ul-categories{
        flex-direction: row;
        width: 90%;
    }
}

/*For Mobile-L*/
@media only screen and (min-width:425px) and (max-width:767px) {
    .ul-categories{
        flex-direction: row;
        width: 100%;
    }

    .li-category{
        font-size: 15px;
        margin: 3px;
    }
}
