<div class="store-adv">
    <div class="store-description">
        <h1>Why FreshStock?</h1>
        <div class="advertation">
            <h2>Purchase the most fresh products!</h2>
            <div class="love-img"></div>
            <p>
                You don't need anymore to wait in line, push a havy cart and wonder where the Milk & Eggs section is.
                Buy Online with us!
                We provide a friendly interface!
            </p>
        </div>
    </div>
    <div class="img-store-ad">
    </div>
</div>
