<div class="new-product-content">
    <div class="new-product-header">
        <div class="new-product-header-title">
            <h2>New Product</h2>
            <i class="fa fa-plus-circle fa-2x"></i>
        </div>
        <small>Click on title to open new product mode</small>
    </div>
    <div [ngClass]="{'new-product-body': true, 'hidden': isHiddenBody}">
        <form>
            <div [ngClass]="{'form-group': true, 'danger': !isProductNameValid}">
                <input type="text" class="field" placeholder="Product Name" autocomplete="off" [value]="productName"
                    (keyup)="setProductName($event.target.value)">
            </div>
            <div [ngClass]="{'form-group': true, 'danger': !isPriceValid}">
                <input type="number" step="0.01" min="0" class="field" placeholder="Price" [value]="price"
                    autocomplete="off" (change)="setPrice($event.target.value)" (keyup)="setPrice($event.target.value)">
            </div>
            <div class="dropdown">
                <div [ngClass]="{'form-group': true, 'danger': !isCategoryValid}">
                    <input type="text" class="field category" placeholder="Categoty" [value]="category"
                        autocomplete="off" (click)="openCategoryList()">
                </div>
                <div *ngIf="isOpenList" class="dropdown-content">
                    <ul *ngIf="categories">
                        <li *ngFor="let category of categories" (click)="chooseCategory($event.target.innerText)">
                            {{category.category_name}}</li>
                    </ul>
                </div>
            </div>
            <div [ngClass]="{'form-group image-input': true, 'danger': !isImagePathValid}">
                <input #imageElem type="file" class="field" (change)="handleImage()" [value]="imagePath">
                <div class="text-muted">Choose image for this product.</div>
                <img *ngIf="imagePath" src="http://localhost:5000/api/images/{{imagePath}}" class="new-product-image">
            </div>
            <div class="form-group-btn">
                <app-popup *ngIf="isOpenPopup" [isSuccess]="isSuccess" [errorMessage]="errorMessage"
                    [successMessage]="successMessage" (popupEvent)="receivePopupEvent($event)"></app-popup>
            </div>
            <div class="form-group-btn">
                <button class="add-product" (click)="addProduct()">Add</button>
            </div>
        </form>
    </div>
</div>