<div [class.cart-item]="isExpanded" [class.m-cart-item]="!isExpanded">
    <div [class.img]="isExpanded" [class.only-img]="!isExpanded">
        <img class="img-item" src="http://localhost:5000/api/images/{{ cartItem.product_id.image }}">
    </div>
    <div [class.item-details]="isExpanded" [class.hide]="!isExpanded">
        <div class="item-name">
            {{ cartItem.product_id.name }}
        </div>
        <div class="item-quantity">
            Qty: {{ cartItem.quantity }}
        </div>
    </div>
    <div [class.total-price-item]="isExpanded" [class.hide]="!isExpanded">
        <div class="text">
            {{ cartItem.price }}$
        </div>
        <button type="button" class="delete" (click)="deleteItemFromCart(cartItem)">✕</button>
    </div>
</div>