.cart-item{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 5px 10px;
    border-bottom: 1.8px solid #dde3ee;
    animation: opac 0.2s;
}

.m-cart-item{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 5px 10px;
    border-bottom: 1.8px solid #dde3ee;
    animation: opac 0.2s;
}

@keyframes opac{from{opacity:0} to{opacity:1}}

.cart-item:hover{
    background-color: rgba(66, 165, 245, 0.2);
}

.img-item{
    width: 60px;
    height: auto;
    object-fit: contain;
}

.img{
    border-right: 1.8px solid #dde3ee;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    align-content: center;
}

.only-img{
    padding: 3px;
}

.item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.item-name{
    font-weight: 600;
}

.item-quantity{
    font-size: small;
    color: gray;
}

.total-price-item{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-size: medium;
    font-weight: 600;
    color: #5f5f5f;
}

.delete{
    text-align: center;
    margin-left: 10px;
    padding: 1px 4px;
    border: 1px solid #ff4d4d;
    border-radius: 100%;
    color: 	#ff4d4d;
    outline:none;
    font-size: small;
    background-color: transparent;
    display: none;
}

.delete:hover{
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
}

.cart-item:hover .delete{
    display: inline-block;
}

/*For tablets*/
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .item-name, .text{
        font-size: medium;
    }

    .item-details{
        margin-right: 10px;
    }
}

/*For Mobile-L*/
@media only screen and (min-width:425px) and (max-width:767px) {
    .item-name, .text{
        font-size: small;
    }

    .item-details{
        margin-right: 3px;
    }

    .img-item{
        width: 45px;
        height: auto;
        object-fit: contain;
    }
}

/*For Mobile-M/S*/
@media only screen and (min-width:320px) and (max-width:424px) {
    .item-name, .text{
        font-size: small;
    }

    .item-details{
        margin-right: 1px;
    }

    .img-item{
        width: 35px;
        height: auto;
        object-fit: contain;
    }
}