.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.options{
    padding: 10px;
    font-family: mainFont;
}

.mat-paginator{
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 15px auto;
    font-family: mainFont;
    font-size: large;
    font-weight: 600;
    background-color: transparent;
    color:#0d47a1;
}

@font-face {
    font-family: mainFont;
    src: url(../../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}

/*For Laptops*/
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .mat-paginator{
        font-size: medium;
        max-width: 100%;
        margin: 0;
    }
}

/*For iPads and Tablets*/
@media only screen and (min-width:768px) and (max-width:1023px) {
    .mat-paginator{
        font-size: medium;
        max-width: 100%;
        margin: 0;
    }
}

/*For Mobile-L*/
@media only screen and (min-width:425px) and (max-width:767px) {
    .mat-paginator{
        font-size: small;
        max-width: 100%;
        margin: 0;
    }
}