.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.options{
    padding: 10px;
    font-family: mainFont;
}

.mat-paginator{
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 15px auto;
    font-family: mainFont;
    font-size: large;
    font-weight: 600;
    background-color: transparent;
    color:#0d47a1;
}

@font-face {
    font-family: mainFont;
    src: url(../../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .mat-paginator{
        font-size: small;
        max-width: 100%;
        margin: 0;
    }
}